* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    cursor: pointer;
}
body {
    background-color: rgb(97, 104, 104);
}
h1 {
    text-align: center;
    text-shadow: 
    0 0 5px #fff,
    0 0 20px #fff,
    0 0 25px #fff,
    0 0 50px #fff,
    0 0 80px #fff,
    0 0 95px #fff;
}
.body-kalkulator {
    width: 310px;
    background-color: rgb(211, 199, 184);
    margin: auto;
}
table {
    width: 100%;
    border-radius: 10px;
    border-color: #f4f4f4;
}
td {
    width: 25%;
    border-radius: 10px;
}
button {
    width: 100%;
    height: 70px;
    font-size: 24px;
    background-color: rgb(143, 142, 138);
    border: none;
    border-radius: 10px;
}
button:hover {
    color: white;
    background-color: slategrey;
}
#inputAngka {
    color: #f4f4f4;
    height: 120px;
    font-size: 40px;
    vertical-align: bottom;
    text-align: right;
    padding-right: 16px;
    background-color: rgb(65, 65, 65);
}